body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
}

#display {
  /* content: ''; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  border: 1px solid black;
}
